@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600
}

input {
  @apply border-2
}

button {
  @apply py-2 px-4 font-semibold rounded-lg shadow-md text-white bg-green-500 hover:bg-green-700;
}
